* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  height: 5rem;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  list-style: none;
  color: white;
}

.header-list li {
  margin: 20px 20px; 
  font-size: 24px;
  cursor: pointer;
}
.header-list li a {
  text-decoration: none;
  color: white;
}
.header-image {
  margin: 0.5rem; 
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 0; 
  left: 5rem;
}

.home {
  position: fixed; 
  top: 5rem; 
  right: 5rem; 
  height: 75vh;
  width: 100vh; 
}

.home1 {
  position: fixed;
  left: 4rem;
  top: -4rem;
  max-height: 100%;
  width: 80vh;
}

.image-container {
  display: flex;
  flex-direction: row;
  margin-top: 20rem;
}

.paragraph {
  margin-top: 4rem;
  margin-left: 3rem;
  width: 85vh;
  height: 40vh;
  background-color: pink;
  opacity: 0.5;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: fixed; 
}

.paragraph h1 {
  margin-left: 2rem;
  font-family: Georgia, serif;
  font-size: 40px;
  position: absolute; /* Position the heading absolutely */
  top: 3rem; /* Adjust as needed */
}

.paragraph p {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 20px;
  position: absolute; 
  bottom: 4rem; 
  font-size: 20px;
  font-family: Apple Chancery, cursive;
}

@media only screen and (max-width: 480px) {
  /* Styles for screens less than 768px wide (mobile) */
  .header {
    background-color: black;
    height: 4rem;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    right: 0;
  }
  .header-list {
    display: flex;
    list-style: none;
    color: white;
  
  }
  .header-list li {
    margin: 20px 7px; 
    font-size: 15px;
    cursor: pointer;
  }
  .header-list li a {
    text-decoration: none;
    color: white;
  }
  .header-image {
    margin: 0.5rem; 
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 0; 
    left: 1rem;
  }


  .home {
    margin-right: -5.5rem;
    width: 50vh;  
    height: 38vh;
    margin-top:4rem;  

  }
  .home1 {
    position: fixed;
    top: -20px;
    left: 2rem;
    max-height: 40%;
    width: 40vh;
  }


  .paragraph {
    margin-top: 7rem;
    margin-left: 0.7rem;
    width: 45vh;
    height: 30vh;
    background-color: pink;
    opacity: 0.5;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: fixed; 
  }
  
  .paragraph h1 {
    margin-left: 4rem;
    font-family: Georgia, serif;
    font-size: 35px;
    position: absolute; /* Position the heading absolutely */
    top: 2rem; /* Adjust as needed */
  }
  
  .paragraph p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute; 
    bottom: 2rem; 
    font-size: 18px;
    font-family:cursive;
  }
}